---
// Redirect to English topics page
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0;url=/en/topics/">
  <title>Redirecting to Topics</title>
</head>
<body>
  <p>Redirecting to <a href="/en/topics/">Topics</a>...</p>
</body>
</html>
