---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting...</title>
  <meta http-equiv="refresh" content={`0;url=/en/blog/${post.slug}/`}>
  <link rel="canonical" href={`/en/blog/${post.slug}/`}>
</head>
<body>
  <p>Redirecting to <a href={`/en/blog/${post.slug}/`}>English version</a>...</p>
</body>
</html>
